<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fantasy Football League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row top-buffer logobar">
            <div class="col-3">
                <a asp-area="" asp-page="/Index"><img src="/img/ic_footballlogo.png" height="75" alt="logo" /></a>
            </div>
            <div class="col-9">
                Fantasy Football League
            </div>
        </div>
        <div class="row border-bottom nav">
            <div class="col text-sm-center">
  |
                <a asp-area="" asp-page="/Players/Create">Sign Up To Play</a>   |
                <a asp-area="" asp-page="/Coaches/Create">Sign Up To Coach</a>   |
                <a asp-area="" asp-page="/Teams/Index">Teams</a>   |
                <a asp-area="" asp-page="/Help">Help</a>
            </div>
        </div>
        <div class="row titlebar">
            <div class="col-12">
                @ViewData["Title"]
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>



    <div class="footer text-muted">
        &copy; Sai Wenhan Ryan LLC 2022<br />
        <a asp-area="" asp-page="/Players/Create">Sign Up To Play</a>  |
        <a asp-area="" asp-page="/Coaches/Create">Sign Up To Coach</a>  |
        <a asp-area="" asp-page="/Teams/Index">Teams</a>  |
        <a asp-area="" asp-page="/Help">Help</a>  |
        <a asp-area="" asp-page="/Admin">Admin</a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>