<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fantasy Football League</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row top-buffer logobar">
            <div">
                <a asp-area="" asp-page="/Index"><img src="/img/ic_footballlogo.png" height="75" alt="logo" />
                    Fantasy Football League
                </a>

                <a asp-area="" asp-page="/Players/Create">Sign Up To Play</a>   |
                <a asp-area="" asp-page="/Coaches/Create">Sign Up To Coach</a>   |
                <a asp-area="" asp-page="/Teams/Index">Teams</a>   |
                <a asp-area="" asp-page="/Help">Help</a>
            </div>
        </div>
        
        <div class="row titlebar">
            <div class="col-12">
                @ViewData["Title"]
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>



    <div class="footer text-muted">
        &copy; Sai Wenhan Ryan LLC 2022<br />
        <a asp-area="" asp-page="/Players/Create">Sign Up To Play</a>  |
        <a asp-area="" asp-page="/Coaches/Create">Sign Up To Coach</a>  |
        <a asp-area="" asp-page="/Teams/Index">Teams</a>  |
        <a asp-area="" asp-page="/Help">Help</a>  |
        <a asp-area="" asp-page="/Admin">Admin</a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>