@page
@model GroupIS1024.Pages.FormModel
@{
    var result = ViewData["result"];
}
<p>Send us reasons as to why you are passionate about the sport</p></>
<p>Xml Validation :@result</p>



<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>

<div class="container">
    <h4 style="font-family: 'Bree Serif', serif;margin-top: 60px;
    margin-bottom: 50px">
    </h4>
<div class="row">
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/XMLformat.png" height="414px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Format Necessary to upload form</h5>
             </div>
        </div>
        </div>
    </div>
</div>