@page
@model GroupIS1024.Pages.FormModel
@{
    var result = ViewData["result"];
}

<p>Xml Validation :@result</p>
<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" />
</form>