@page
@model IndexModel
@{
    
    List<Franchise> franchises = (List<Franchise>) ViewData["Franchise"];
}


<body>
        <!-- Intro-->
          <div class="intro text-col">
        <table>
            <tr>
                <th>abbreviations</th>
                <th>city</th>
                <th>conferences</th>
                <th>divison</th>
                <th>name</th>
            </tr>

        </table>
  </body>
