@page
@model IndexModel
@{
    ViewData["Title"] = "FantasyFootball";
}
<html>
<head>

    <meta charset="utf-8" />
    <title>FantasyFootball</title>
   
    <!-- CSS Script -->
    <link rel="stylesheet" href="css/aboutmecss.css">
    <!--Google font "Caveat" for headings-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap" rel="stylesheet">

    <!--Google font "Kanit" for text-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,100&display=swap" rel="stylesheet">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/fb4cce0071.js" crossorigin="anonymous"></script>

    <style>
        h1, h5 {
            font-family: 'Caveat', sans-serif;
        }

        p, a, i {
            font-family: 'Kanit', sans-serif;
            font-weight: bold;
        }

        .intro p {
            text-align: center;
        }
    </style>



</head>
<body>
    <!-- Intro-->
    <div class="intro text-col">
        <h1>FANTASTYFOODBALL</h1>
        <h1>The best platform for your favourite foodball team and player.</h1><br />
        <p>
            Do you want to know more about your favourite foodball team and players? <br />
            With FantasyFootball’s easy-to-use platform, you can find them with few click!<br />
            We have all everything you need for your favourte hometeam!
        </p>
        <br />
        <br />
        <button type="button" class="btn-lg btn-success intro-but">Create an account</button>
    </div>

    <!-- Features -->

    

</body>
</html>