@page
@model GroupIS1024.Pages.NewsModel
@{
    ViewData["Title"] = "Home page";
    NewsFeed newsfeeds = (NewsFeed)ViewData["NewsFeeds"];
}

<body>



    <div class="container align-content-center">
        <div class="align-content-center">
            <center><img width="700" height="300" src="~/Images/Center_Image.png"></center>
        </div>


        <div class="search-bar">

            <form action="" method="get" class="form-online">
                <center><input asp-for="Query" name="query" id="query" class="form-control mr-sm-2 mb-2" placeholder="Search Food Name.." /></center>
                <center><button type="Submit" class="btn btn-primary mb-2">Search</button></center>
            </form>
        </div>
        <div class="buttons text-center">
            <div class="btn-toolbar" role="group" aria-label="...">
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Sugar (in g)</th>
            <th>Fiber (in g)</th>

        </tr>

        @{
            foreach (Feed feed in newsfeeds.Feeds)
            {
                <tr>
                    <td>@feed.Content</td>
                    <td>@feed.Author</td>
                    <td>@feed.Date</td>

                </tr>
            }
        }
    </table>

</body>