@page
@model GroupIS1024.Pages.QueryModel
@{
        ViewData["Title"] = "Teams";
    Franchise franchises = (Franchise)ViewData["Recipes"];
}

<html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <center>
    <div class="container align-content-center">
        <div class="align-content-center">
                <center><img width="700" height="300" src="~/Images/recipe_image.png"></center>
        </div>
            </center>

    <div class="search-bar">



        <form action="" method="get" class="form-online">
            <center><input asp-for="initTeamQuery" name="TeamQuery" id="TeamQuery" class="form-control mr-sm-2 mb-2" placeholder="Search Teams.." /></center>
            <center><button type="Submit" class="btn btn-primary mb-2">Search</button></center>
        </form>
    </div>
    <div class="buttons text-center">
        <div class="btn-toolbar" role="group" aria-label="...">
            </div>
        </div>
    </div>
    <center>
<table>
        <tr>
            <th>Plant ID</th>
            <th>Specimen ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
            @{
                foreach (Sport sport in franchises.Sports)
                {
                    <tr>
                        <td>@sport.Id</td>
                        <td>@sport.Name</td>
                        <td>@sport.Uid</td>
                        <td>@sport.Slug</td>
                </tr>
            }
        }
    </table>
    </center>
</body>
</html>
}
