@page
@model QueryModel
@{
        //ViewData["Title"] = "Teams";
    //Franchise franchises = (Franchise)ViewData["Recipes"];
}

<html>

    <body>
        div class="content">
        <h2>welcome</h2>
        More to come
        <br />

    <form name="search" method="get" action="https://site.api.espn.com/apis/site/v2/sports/football/nfl/teams">
        <label>Plant Name:</label><input type="text" name="/"/>
        <br />
        <input type="submit" value="Search"/>
    </form>


    </body>
</html>
}
