@page
@using GroupIS1024
@model StatsLeadersModel
<body>
    <div class="search-bar">



        <form action="" method="get" class="form-online">
            <center><input asp-for="Query" name="query" id="query" class="form-control mr-sm-2 mb-2" placeholder="Search Recipe Images.." /></center>
            <center><button type="Submit" class="btn btn-primary mb-2">Search</button></center>
        </form>
    </div>
    <div class="buttons text-center">
        <div class="btn-toolbar" role="group" aria-label="...">
        </div>
    </div>

<div class="text-center">

    <h1 class="display-4">Welcome to FF</h1>
    <p>Catalog your plants, where they are, when they have been watered and fertilized.</p>
    <p>We're glad you're here!</p>
    <table>
        <tr>
            <th>Plant ID</th>
            <th>Specimen ID</th>
            <th>Latitude</th>
            <th>Longitude</th>

        </tr>
 </table>
</div>
</body>