@page
@model GroupIS1024.Pages.SupportLocalBusinessesModel
@{
    List<ChefAuthor> chefauthors = (List<ChefAuthor>)ViewData["Chef Authors"];
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<style>
        .cards {
      padding: 16px;
      text-align: center;
      background-color: #0064D5 ;
      color: white;
      border-radius:20px;
    }
    
        .column {
      float: left;
      width: 25%;
      padding: 0 5px;
    }

    .row {margin: 0 -5px;}

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
        {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      background-color:#0064D5 ;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom:50px
    }

    input[type=submit]:hover {
      background-color:#0064D5 ;
    }
         .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
        border:0px;
    }
</style>
<style>
table,th,td{
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
}
</style>
<p><strong>Learn about and contact local Chef's in the Area</strong></p>

<div class="text-center">
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Favorite Recipe</th>

        </tr>
        @{
            foreach (ChefAuthor chefauthor in chefauthors)
            {
                <tr>
                    <td>@chefauthor.Name</td>
                    <td>@chefauthor.Phone</td>
                    <td>@chefauthor.Email</td>
                    <td>@chefauthor.FavoriteRecipe</td>

                </tr>
            }
        }
    </table>
</div>